html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

html {
  font-family: 'Roboto', sans-serif, arial;
}


/* HEADER STYLES */
.header {
  height: 10vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 20;
}
.header-nav {
  padding-top: 0.8vh;
  text-align: center;
}
.header-nav a {
  color: green; 
  text-align: center;
}
/* .header-nav li {
  background-color: red;
  display: inline-block;
  background-color: #333;
  margin: 18px 2vw;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 30px;
} */
.header-nav a {
  color: #fff;
  text-decoration: none;
}

.head-logo {
  font-size: 5vh;
}

/* HERO STYLES */
.home-hero {
  display: block;
  height: 90vh;
  width: 100%;
  z-index: 20;
}
.hero-content {
  color: #fff;
  font-size: 2.75em ;
  text-align: center;
  padding: 40vh 0 ;
  position: relative;
  z-index: 20;
}
.hero-content span {
  font-weight: bold;
  color: #000;
}
.hero-content .social-list a {
  font-size: 1em;
  padding: 0 10px 0;
}
.hero-content .social-list li {
  padding: 30px 10px 0;
}

/* PRESENTATION STYLES */
.home-roadmap {
  height: 10vh;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.25;
}

/* PORTFOLIO STYLES */
.home-portfolio {
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  border-top: 1px solid rgba(50, 50, 50, 0.5);
}

.square1 {
  display: inline-block;
  height: 30vh;
  width: 30vh;
  background-color: #333;
  margin-bottom: 1vh;
}
.square2 {
  display: inline-block;
  height: 30vh;
  width: 30vh;
  background-color: #333;
  margin-bottom: 1vh;
}
.square3 {
  display: inline-block;
  height: 30vh;
  width: 30vh;
  background-color: #333;
  margin-bottom: 1vh;
}
.square4 {
  display: inline-block;
  height: 30vh;
  width: 30vh;
  background-color: #333;
  margin-bottom: 1vh;
}


/* ANIMATED BACKGROUND STYLE */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    /* background-color: red; */
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 91%;
    bottom: -1px;
    background-image: linear-gradient(to top, #46c8f0 30%, #0c7ff2 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 150px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 170px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 150px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* SOCIAL STYLES */
.social-list a {
  text-decoration: none;
  color: initial;
}
.social-list li {
  display: inline-block;
}
