html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
html {
  font-family: 'Roboto', sans-serif, arial;
}
.content-container {
  cursor: default;
}
h1 {
font-size: 32px;
margin: 1vh 0 4vh;
text-align: center;
}
h2 {
  font-size: 20px;
  margin: 0 0 3vh;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 3vh 0 2vh;
}

/* HEADER STYLES */
.header {
  height: 8vh;
  position: relative;
  width: 100%;
  z-index: 50;
}
.header-post  {
  background-image: linear-gradient(to left, #46c8f0 30%, #0c7ff2 80%);
}
.header-nav {
  bottom: 50%;
  min-width: 413px;
  right: 50%;
  position: absolute;
  transform: translate(50%, 50%);
}
.header-nav a {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 16px 16px;
}
.header-nav a:hover, dropdown:hover  {
  background-color: #000;
  color: #fff;
}
.dropdown {
  float: left;
}
.dropdown .dropdown-trigger {
  background-color: inherit;
  border: none;
  font-family: inherit;
  margin: 0;
  outline: none;

}
.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  top: 100%;
  position: absolute;
  z-index: 30;
}
.dropdown-content a {
  display: block;
  float: none;
  font-size: 16px;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  z-index: 30;
}
.dropdown-content:hover  {
  background-color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #fff;
}

/* FOOTER STYLES */
.footer {
  height: 13vh;
  margin: 1vh 0 0;
  position: relative;
}
.footer-post  {
  background-image: linear-gradient(to left, #46c8f0 30%, #0c7ff2 80%);
}
.footer-post .footer-nav a:hover {
  color: #fff;
}
.footer-nav {
  bottom: 80%;
  right: 50%;
  position: absolute;
  transform: translate(50%, 80%);
}
.footer-nav a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin-left: 15px;
}
.footer-nav a:hover {
  color: #0C7FF2;
}
.footer .social-list {
  text-align: center;
  bottom: 10%;
  right: 50%;
  position: absolute;
  transform: translate(50%, 10%);
}
.footer .social-list a {
  font-size: 28px;
  margin-left: 20px;
}
.footer .social-list a:hover {
  color: #0C7FF2;
}



/* HERO STYLES */
.home-hero {
  display: block;
  height: 90vh;
  width: 100%;
  z-index: 20;
}
.hero-content {
  color: #fff;
  font-size: 2.3em ;
  padding: 32vh 0;
  position: relative;
  text-align: center;
  z-index: 20;
}
.hero-content span {
  font-weight: bold;
  color: #000;
}
.hero-content .social-list a {
  font-size: 1em;
}
.hero-content .social-list li {
  padding: 50px 20px 0;
}
.hero-content .social-list a:hover {
  color: #fff;
}

/* ANIMATED BACKGROUND STYLE */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 90%;
    bottom: 2vh;
    background-image: linear-gradient(to top, #46c8f0 30%, #0c7ff2 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 150px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 170px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 150px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* PRESENTATION/ROADMAP STYLES */
.home-roadmap {
  height: 70vh;
  font-size: 1.3em;
  margin: 3vh 0 4vh 0;
}
.statement-roadmap {
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}
.wrapper-roadmap {
  padding: 35vh 0 0 3vh;
}
.wrapper-roadmap a {
  text-decoration: none;
  color: inherit;
}
.line-roadmap {
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 10px ;
  height: 16px;
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
  width: 90%;
}
.progress-line-roadmap {
  border-radius: 10px ;
  height: 16px;
  left: 0%;
  position: relative;
  background-image: linear-gradient(to right, #46c8f0 30%, #0c7ff2 80%);
  max-width: 536px;
}
.circles-line {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 24px;
  height: 24px;
  margin-top: -5.5px;
  position: absolute;
  width: 24px;
}
.circle-progress-line {
  background-color: #3ff249;
  border: 2px solid #000;
  margin-top: -22px;
}
.circle1-line {
  left: 65px;
}
.circle2-line {
  left: 283px;
}
.circle3-line {
  left: 516px;
}
.circle4-line {
  left: 745px;
}
.circle5-line {
  left: 977px;
}
.circle6-line {
  left: 1209px;
}
.item1-roadmap {
  position: absolute;
  left: -38px;
}
.item1-roadmap span {
  font-weight: 900;
}
.item1-roadmap .item-date-above {
  margin: -55px 0 40px 60px;
}
.item1-roadmap .item-title-under  {
position: relative;
left: 13px;
}
.item2-roadmap {
  position: absolute;
  left: 215px;
}
.item2-roadmap .item-title-above  {
position: relative;
top: -105px;
left: 57px;
}
.item2-roadmap .item-text-above  {
position: relative;
top: -300px;
left: -30px;
}
.item3-roadmap {
  position: absolute;
  left: 413px;
}
.item3-roadmap .item-title {
  margin: 0 0 0 30px;
}
.item3-roadmap .item-date {
  margin-left: 65px;
}
.item4-roadmap {
  position: absolute;
  left: 675px;
}
.item4-roadmap .item-text-above {
position: relative;
top: -228px;
left: -30px;
}
.item4-roadmap .item-text {
max-width: 210px;
}
.item5-roadmap {
  position: absolute;
  left: 879px;
}
.item5-roadmap .item-title {
  margin-left: 25px;
}
.item5-roadmap .item-date {
  margin-left: 55px;
}
.item6-roadmap {
  position: absolute;
  left: 1116px;
}
.item6-roadmap .item-title {
 top: -70px;
}
.item-date {
 color: #0C7FF2;
 font-size: 16px;
 font-style: italic;
 font-weight: 400;
 margin: 20px 0 0 25px;
 text-decoration: underline;
}
.item-date-above {
  margin: -55px 0 40px 25px;
}
.item-title {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 0 20px 0;
}
.item-title-above {
position: relative;
top: -105px;
left: 38px;
}
.item-text {
  background-color: #0C7FF2;
  border: 1px solid #0C7FF2;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
  max-width: 230px;
  min-width: 180px;
}
.item-text a {
  background-color: #0C7FF2;
  color: #000;
}

/* WAVE PORTFOLIO STYLES */
.wave-wrapper-portfolio {
    height: 25vh;
    overflow: hidden;
    left: 0;
    right: 0;
    top: -48px;
    z-index: 51;
}
.wave-portfolio {
    height: 19vh;
    background-size: 100% 150px;
    max-height: 19vh;
    width: 100%;
}

/* PORTFOLIO STYLES */
.home-portfolio {
  background-image: linear-gradient(to bottom, #46c8f0 30%, #0c7ff2 80%);
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  height: 165vh;
  margin-top: 12vh;
  min-height: 165vh;
  position: relative;
}
.title-portfolio {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 7vh;
  text-align: center;
}
.statement-portfolio {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5vh;
  text-align: center;
}
.statement-portfolio a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
}
.squares-portfolio {
  position: relative;
}
.style-square {
  background-color: #fff;
  background-size: 45vw 55vh;
  border-radius: 2vh;
  height: 55vh;
  width: 45vw;
  margin-bottom: 1vh;
}
.style-square:hover {
  opacity: 0.3;
}
.style-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
  position: absolute;
}
.left-squares {
  position: absolute;
  right: 50%;
  margin-right: 2.5vh;
}
.right-squares {
  left: 50%;
  position: absolute;
  margin-left: 2.5vh;
}
.topleft-square {
  background-image: url(/images/css-website-portfolio.png);
  margin-bottom: 5vh;
}
.topleft-text {
  max-width: 35vw;
  left: 8%;
  top: 32%;
}
.bottomleft-square {
  background-image: url(/images/git-website-portfolio.png);
}
.bottomleft-text {
  left: 22%;
  bottom: 17%;
  max-width: 25vw;
}
.topright-square {
  background-image: url(/images/html-website-portfolio.png);
  margin-bottom: 5vh;
}
.topright-text {
  left: 71%;
  top: 42%;
  max-width: 25vw;
}
.bottomright-square {
  position: relative;
}
.bottomright-text {
  bottom: 50%;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  right: 50%;
  transform: translate(50%,50%);
}
.bottomright-square:hover {
  opacity: 1;
}

/* SOCIAL STYLES */
.social-list a {
  text-decoration: none;
  color: initial;
}
.social-list li {
  display: inline-block;
}

/* INTERESTS (BLOG) STYLES */
.interests-container {
  background-image: linear-gradient(to top, #46c8f0 30%, #0c7ff2 80%);
  color: #fff;
  padding-bottom: 5vh;
}
.interests-container h1 {
  margin: 4vh 0 5vh;
}
.interests-container a {
  color: #fff;
  text-align: center;
}
.postwrapper-interests {
  clear: both;
}
.categories-buttons {
  height: 15vh;
  left: 51%;
  position: relative;
  min-width: 450px;
  width: 30vw;
  transform: translate(-50%,0);
}
.categories-buttons  a {
  background-color: #3ff249;
  border: 4px solid #fff;
  border-radius: 10px;
  color: #fff;
  float: left;
  margin: 5vh 2vh 3vh 0;
  padding: 1.3vh;
  text-decoration: none;
}
.categories-buttons  a:hover {
  border: 4px solid #000;
  color: #000;
}

/* CATEGORIES STYLES */
.category-container {
  background-image: linear-gradient(to top, #46c8f0 30%, #0c7ff2 80%);
  color: #fff;
  padding-bottom: 5vh;
}
.category-container a {
  color: #fff;
  text-align: center;
}
.category-container h1 {
  margin: 2vh 0 6vh;
}

/*POST STYLES */
.post-img-hero {
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 2vh;
  max-height: 500px;
}
.post-title {
  clear: both;
}
.post-summary {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 5vh;
  text-align: center;
}
.post-container {
  margin: 0 10vh;
  font-size: 18px;
  line-height: 1.5;
}
.post-container p {
  margin: 2vh 0 2vh;
}
.post-container li {
  font-weight: bold;
  margin: 2vh 0;
}
.post-container a {
  color: #0C7FF2;
  font-weight: bold;
  text-decoration: none;
}
.post-img {
  display: block;
  margin: 4vh auto;
  max-width: 90%;
  max-height: 550px;
}
.last-sentence-post {
  margin: 6vh 0 3vh;
}
.list-post-achievingmore li:last-child{
  margin: 0 0 4vh;
}
.first-sentence-techoriented  {
  font-weight: bold;
  margin: 0 0 4vh;
}
.images-block-extendpost img {
  width: 23%;
}
.youtubevid-extendpost {
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
}


/* MEDIA STYLES */
@media (max-width: 1050px) {
  html {
    width: 100%;
    }
  
  /*HEADER STYLES */ 
  .header-nav {
    min-width: 300px;
    }
  .header-nav a {
    font-size: 1em;
    padding: 8px 8px; 
    }
  .dropdown-content {
  display: none;
  }
  .dropdown:hover .dropdown-content {
  display: none;
  }
  .dropdown-trigger i {
  display: none;
  }

  /* FOOTER STYLES */
.footer {
  height: 13vh;
  margin: 1vh 0 0;
  position: relative;
}
.footer-nav {
  bottom: 80%;
  min-width: 80vw;
  right: 50%;
  position: absolute;
  transform: translate(50%, 80%);
}
.footer-nav a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin-left: 15px;
}
.footer .social-list {
  text-align: center;
  bottom: 20%;
  right: 50%;
  position: absolute;
  transform: translate(50%, 20%);
}
.footer .social-list a {
  font-size: 28px;
  margin-left: 20px;
}


  /* HERO STYLES */ 
  .home-hero {
    height: 82vh;
  }
  .hero-content {
    font-size: 7vw;
    line-height: 1.5;
    padding: 26vh 0 0;
  }
  
  /* ROADMAP STYLES */ 
  .home-roadmap {
    height: auto;
    font-size: 1.1em;
    width: 90%;
  }
  .statement-roadmap  {
    line-height: 1.5;
    margin-left: 10vw;
  }
  .wrapper-roadmap {
    padding: 6vh 0 0 0;
  }
  .line-roadmap {
    height: 220vh;
    left: 15%;
    position: relative;
    transform: translate(-50%,0);
    width: 16px;
  }
  .progress-line-roadmap {
    height: 92vh;
    left: 0%;
    position: absolute;
    background-image: linear-gradient(to bottom, #46c8f0 30%, #0c7ff2 80%);
    width: 16px;
  }
  .circles-line {
    background-color: #000;
    border: 2px solid #000;
    border-radius: 24px;
    height: 24px;
    margin-top: -5.5px;
    position: absolute;
    width: 24px;
  }
  .circle-progress-line {
    background-color: #3ff249;
    border: 2px solid #000;
    margin-top: -22px;
  }
  .circle1-line {
    left: -6px;
    top: 2%; 
  }
  .circle2-line {
    left: -6px;
    top: 24%; 
  }
  .circle3-line {
    left: -6px;
    top: 42%; 
  }
  .circle4-line {
    left: -6px;
    top: 64%; 
    z-index: 61;
  }
  .circle5-line {
    left: -6px;
    top: 77%; 
    z-index: 61;
  }
  .circle6-line {
    left: -6px;
    top: 97%; 
    z-index: 61;
  }
  .item1-roadmap {
    position: absolute;
    left: 500%;
    top: 1%; 
  }
  .item1-roadmap span {
    font-weight: 900;
  }
  .item1-roadmap .item-date-above {
    margin: 0; 
  }
  .item1-roadmap .item-title-under  {
  position: relative;
  left: 13px;
  }
  .item2-roadmap {
    position: absolute;
    left: 500%;
    top: 23%; 
  }
  .item2-roadmap .item-title-above  {
  position: relative;
  top: 0px;
  left: 13px;
  }
  .item2-roadmap .item-text-above  {
  position: relative;
  top: 0px;
  left: 0px;
  }
  .item2-roadmap .item-date {
    margin: 0; 
  }
  .item3-roadmap {
    position: absolute;
    left: 500%;
    top: 41%; 
  }
  .item3-roadmap .item-title {
    left: 13px; 
    margin: 0; 
    position: relative;
    top: 0;
  }
  .item3-roadmap .item-date {
    margin: 0; 
  }
  .item4-roadmap {
    position: absolute;
    left: 500%;
    top: 64%;
  }
  .item4-roadmap .item-date {
    left: 0; 
    margin: 0; 
    top: 0; 
  }
  .item4-roadmap .item-title {
    left: 13px; 
    margin: 0;
    position: relative;
    top: 0; 
  }
  .item4-roadmap .item-text-above {
    left: 0; 
    margin: 0;
    top: 0;
  }
  .item4-roadmap .item-text {
  max-width: 210px;
  }
  .item5-roadmap {
    left: 500%;
    position: absolute;
    top: 77%; 
  }
  .item5-roadmap .item-title {
    left: 13px; 
    margin: 0; 
    position: relative;
    top: 0; 
  }
  .item5-roadmap .item-date {
    margin: 0;
  }
  .item6-roadmap {
    left: 500%;
    position: absolute;
    top: 96.2%; 
  }
  .item6-roadmap .item-title {
   left: 13px; 
   margin: 0;
   position: relative; 
   top: 0px;
   width: 60vw; 
  }

  /* WAVE PORTFOLIO STYLES */
.wave-wrapper-portfolio {
  height: 25vh;
  overflow: hidden;
  position: absolute;
  top: -2%; 
  z-index: 61;
}
.wave-portfolio {
  height: 19vh;
  background-size: 100% 150px;
  max-height: 19vh;
  overflow: hidden;
  width: 140%;
  padding-bottom: 4%;
}

  /* PORTFOLIO STYLES */ 
  .home-portfolio {
    background-image: linear-gradient(to bottom, #46c8f0 30%, #0c7ff2 80%); 
    height: auto; 
    min-height: 165vh;
  }
  .title-portfolio {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7vh;
    padding-top: 17vh;
    text-align: center;
  }
  .style-square {
    background-color: #fff;
    background-size: 80vw 55vh;
    border-radius: 2vh;
    height: 55vh;
    width: 80vw;
    margin: 0 auto 5vh;
    opacity: 0.9;
  }
  .style-square:hover {
    opacity: 1;
  }
  .style-text {
    color: #000; 
    font-size: 15px;
    position: absolute;
    z-index: 60;
  }
  .left-squares {
    position: static;
    margin: 0; 
  }
  .right-squares {
    position: static; 
    margin: 0; 
  }
  .topleft-text {
    left: 14%;
    max-width: 70vw;
    top: 21%;
  }
  .bottomleft-square {
    background-color: #fff;
    background-size: cover;
  }
  .bottomleft-text {
    color: #fff; 
    font-size: 15px;
    left: 14%;
    top: 61%;
    max-width: 60vw;
  }
  .topright-text {
    left: 45%;
    top: 85%;
    max-width: 50vw;
  }

  /* INTERESTS STYLES */ 
  .interests-container {
    overflow: hidden;
  }
  .postwrapper-interests {
    margin: 0 5vw; 
  }
  .categories-buttons {
      height: 15vh;
      left: 0;
      position: relative;
      margin-left: 3vw; 
      min-width: 350px;
      width: 30vw;
      transform: translate(0,0);
  }
  .categories-buttons  a {
    font-size: 13px;
    margin: 5vh 1vh 3vh 0;
  }

  /* CATEGORY STYLES */
  .category-container .blog-list {
    margin: 0 5vw; 
  }

  /*BLOG STYLES */ 
  .post-container {
    margin: 0 5vh;
    font-size: 16px;  
  }
  .post-summary {
    font-size: 16px;
  }
  .post-img-hero {
    margin: 0; 
    max-height: 60vh;
    max-width: 100%; 
    width: auto;  
  }
  .youtubevid-extendpost {
    width: auto; 
  }

}