html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
html {
  font-family: 'Roboto', sans-serif, arial;
}
.content-container {
  cursor: default;
}

/* HEADER STYLES */
.header {
  height: 10vh;
  position: relative;
  width: 100%;
  z-index: 50;
}
.header-nav {
  bottom: 50%;
  height: 8vh;
  right: 50%;
  position: absolute;
  transform: translate(50%, 50%);
  width: 55vh;
}
.header-nav a {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.header-nav a:hover, dropdown:hover  {
  background-color: #000;
  color: #fff;
}
.dropdown {
  float: left;
}
.dropdown .dropdown-trigger {
  background-color: inherit;
  border: none;
  font-family: inherit;
  margin: 0;
  outline: none;

}
.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  top: 75%;
  position: absolute;
  z-index: 30;
}
.dropdown-content a {
  background-color: #;
  display: block;
  float: none;
  font-size: 16px;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  z-index: 30;
}
.dropdown-content:hover  {
  background-color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #fff;
}


/* HERO STYLES */
.home-hero {
  display: block;
  height: 90vh;
  width: 100%;
  z-index: 20;
}
.hero-content {
  color: #fff;
  font-size: 2.3em ;
  padding: 32vh 0;
  position: relative;
  text-align: center;
  z-index: 20;
}
.hero-content span {
  font-weight: bold;
  color: #000;
}
.hero-content .social-list a {
  font-size: 1em;
  padding: 0 10px 0;
}
.hero-content .social-list li {
  padding: 50px 10px 0;
}
.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover  {
 color: #fff;
}

/* ANIMATED BACKGROUND STYLE */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 92%;
    bottom: -1px;
    background-image: linear-gradient(to top, #46c8f0 30%, #0c7ff2 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 150px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 170px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 150px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* PRESENTATION/ROADMAP STYLES */
.home-roadmap {
  height: 70vh;
  font-size: 1.3em;
  margin: 4vh 0 4vh 0;
}
.statement-roadmap {
  text-align: center;
  font-weight: 600;
}
.wrapper-roadmap {
  padding: 35vh 0 0 3vh;
}
.wrapper-roadmap a {
  text-decoration: none;
  color: inherit;
}
.line-roadmap {
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 10px ;
  height: 16px;
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
  width: 90%;
}
.progress-line-roadmap {
  border-radius: 10px ;
  height: 16px;
  left: 0%;
  position: relative;
  background-image: linear-gradient(to right, #46c8f0 30%, #0c7ff2 80%);
  max-width: 536px;
}
.circles-line {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 24px;
  height: 24px;
  margin-top: -5.5px;
  position: absolute;
  width: 24px;
}
.circle-progress-line {
  background-color: #3ff249;
  border: 2px solid #000;
  margin-top: -22px;
}
.circle-progress-line:hover {
}
.circle1-line {
  left: 65px;
}
.circle2-line {
  left: 283px;
}
.circle3-line {
  left: 516px;
}
.circle4-line {
  left: 745px;
}
.circle5-line {
  left: 977px;
}
.circle6-line {
  left: 1209px;
}
.item1-roadmap {
  position: absolute;
  left: -38px;
}
.item1-roadmap span {
  font-weight: 900;
}
.item1-roadmap .item-date-above {
  margin: -55px 0 40px 60px;
}
.item1-roadmap .item-title-under  {
position: relative;
left: 13px;
}
.item2-roadmap {
  position: absolute;
  left: 215px;
}
.item2-roadmap .item-title-above  {
position: relative;
top: -105px;
left: 57px;
}
.item2-roadmap .item-text-above  {
position: relative;
top: -300px;
left: -30px;
}
.item3-roadmap {
  position: absolute;
  left: 413px;
}
.item3-roadmap .item-title {
  margin: 0 0 0 30px;
}
.item3-roadmap .item-date {
  margin-left: 65px;
}
.item4-roadmap {
  position: absolute;
  left: 675px;
}
.item4-roadmap .item-text-above {
position: relative;
top: -228px;
left: -30px;
}
.item4-roadmap .item-text {
max-width: 210px;
}
.item5-roadmap {
  position: absolute;
  left: 879px;
}
.item5-roadmap .item-title {
  margin-left: 25px;
}
.item5-roadmap .item-date {
  margin-left: 55px;
}
.item6-roadmap {
  position: absolute;
  left: 1116px;
}
.item6-roadmap .item-title {
 top: -70px;
}
.item-date {
 color: #0C7FF2;
 font-size: 16px;
 font-style: italic;
 font-weight: 400;
 margin: 20px 0 0 25px;
 text-decoration: underline;
}
.item-date-above {
  margin: -55px 0 40px 25px;
}
.item-title {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 0 20px 0;
}
.item-title-above {
position: relative;
top: -105px;
left: 38px;
}
.item-text {
  border: 1px solid #0C7FF2;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
  max-width: 230px;
}
.item-text {
  background-color: #0C7FF2;
  color: #fff;
}
.item-text a {
  background-color: #0C7FF2;
  color: #000;
}

/* WAVE PORTFOLIO STYLES */
.wave-wrapper-portfolio {
    height: 25vh;
    overflow: hidden;
    /* position: relative; */
    left: 0;
    right: 0;
    top: -48px;
    /* margin: 10vh 0 0 0; */
    z-index: 51;
}
.wave-portfolio {
    /* position: absolute; */
    width: 100%;
    height: 19vh;
    overflow: hidden;
    background-size: 100% 150px;
}

/* PORTFOLIO STYLES */
.home-portfolio {
  background-image: linear-gradient(to bottom, #46c8f0 30%, #0c7ff2 80%);
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  height: 160vh;
  position: relative;
}
.statement-portfolio {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5vh;
  text-align: center;
}
.squares-portfolio {
  position: relative;
}
.style-square {
  background-color: #fff;
  background-size: 45vw 55vh;
  border-radius: 2vh;
  height: 55vh;
  width: 45vw;
  margin-bottom: 1vh;
}
.style-square:hover {
  opacity: 0.3;
}
.style-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
  position: absolute;
}
.left-squares {
  position: absolute;
  right: 50%;
  margin-right: 2.5vh;
}
.right-squares {
  left: 50%;
  position: absolute;
  margin-left: 2.5vh;
}
.topleft-square {
  background-image: url(/images/css-website-portfolio.png);
  margin-bottom: 5vh;
}
.topleft-text {
  max-width: 35vw;
  left: 8%;
  top: 25%;
}
.bottomleft-square {
  background-image: url(/images/git-website-portfolio.png);
}
.bottomleft-text {
  left: 20%;
  bottom: 20%;
  max-width: 25vw;
}
.topright-square {
  background-image: url(/images/html-website-portfolio.png);
  margin-bottom: 5vh;
}
.topright-text {
  left: 71%;
  top: 40%;
  max-width: 25vw;
}



/* SOCIAL STYLES */
.social-list a {
  text-decoration: none;
  color: initial;
}
.social-list li {
  display: inline-block;
}
