<div class="header-nav">
    <a href="index.html">Home</a>
    <a href="https://www.linkedin.com/in/bertrand-bazire/" target="_blank" rel="noopener">Profile</a>
    <a href="#portfolio">Portfolio</a>
  <div class="dropdown">
    <a class="dropdown-trigger" href="/interests" >Interests
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content">
        <a href="/category/technology">Technology</a>
        <a href="/category/productivity">Productivity</a>
        <a href="/category/longevity">Longevity</a>
    </div>
  </div>
</div>
